[Unit]
Description=ActivitySage FastAPI backend
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/activitysage
Environment="OLLAMA_HOST=http://13.40.91.168:11434"
Environment="CORS_ORIGINS=http://localhost:5173,http://localhost:5174"
ExecStart=/home/ubuntu/activitysage/venv/bin/uvicorn app:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=5
KillSignal=SIGINT
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
